extends layout

block content
    h1= title
    p Your website has been created with ananke theme
    form(name="add-estimation", method="post")
        div.input
            span.label Choose a Theme
            input(type="text", name="title")
        div.actions
            input(type="submit", value="add")
