extends layout

block content
  h1= title
  p Creéz votre site en 30 seconde avec #{title}
  form(name="add-estimation", method="post")
    div.input
      span.label Donnez un nom a votre Site :
      input(type="text", name="title")
    div.actions
      input(type="submit", value="Prochaine étape" class="btn btn-outline-success")