extends layout

block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Votre site est prét
        div.actions
            input(type="submit", value="Télécharger mon site" class="btn btn-outline-success")