extends layout

block nextPages
    link(rel="stylesheet" href="stylesheets/theme.css")
    .container
        h1= "Choisissez votre theme"
    form(name="add-estimation", method="post")
        section
            div
                input#control_01(type='radio' name='select' value='1' checked)
                label(for='control_01')
                    img.uk-thumbnail(src='https://github.com/xaprb/story/blob/master/images/tn.png?raw=true')
                    h2 Story
                    a(href="https://story.xaprb.com/") Demo
            div
                input#control_02(type='radio' name='select' value='2')
                label(for='control_02')
                    img.uk-thumbnail(src='https://d33wubrfki0l68.cloudfront.net/12689d7e0e2a0b71dd45716fce7f7c72155a0b04/342ae/liva-hugo/screenshot-liva-hugo_hu40da5f135ef0c71f846da23f4a4e96ad_107414_750x500_fill_catmullrom_top_2.png')
                    h2 Liva
                    a(href="https://themes.gohugo.io/theme/liva-hugo/") Demo
            div
                input#control_03(type='radio' name='select' value='3')
                label(for='control_03')
                    img.uk-thumbnail(src='https://d33wubrfki0l68.cloudfront.net/c952d22646385a019c5ea5b3ae401008321e10d3/a18a8/hugo-blog-jeffprod/screenshot-hugo-blog-jeffprod_hu2d88900caaff4028ed118698b61f451e_413372_750x500_fill_catmullrom_top_2.png')
                    h2 JeffProd
                    a(href="https://themes.gohugo.io/theme/hugo-blog-jeffprod/") Demo
        input(type="submit", value="Prochaine étape" class="btn btn-outline-success btn-lg btn-block")